<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider
            android:name=".NetworkThrottleInitProvider"
            android:authorities="${applicationId}.network-throttle-init"
            android:exported="false" />
    </application>
</manifest>
